:root{
    --main-text-color: black;
    --secondary-text-color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: auto;
    height: 100vh;
    background: url('../assets/restaurant.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    opacity: .8;
}
 h4{
    font-size: 2rem;
    color: white;
 }

 p{
    font-size: 1.2rem;
    color: white;
    padding: 10px 20px
 }

 .days{
    color: red;
 }
.homeContent{
    width: 50vw;
    height: 89vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.hoursOfOperation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}