:root{
    --main-text-color: red;
    --secondary-text-color: white;
}
*{
    margin: 0;;
}
body{
    overflow: hidden;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
}
 h4{
    color: white;
 }

 p{
    color: white;
 }

.homeContent{
    height: 93vh;
    background: url('../assets/restaurant.jpg');
    background-position: center;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}