#menu-content{
    width: 70vw;
    height: 89vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.7);
}

.item-name{
    color: #ed1250;
}